/*PALETA DE CORES
#BB2020 - vermelho
#06111C - preto 2
#BEC7C7 - cinza claro
#FFEB4D - amarelo
#121317 - preto 1
#f8f8ff - branco*/
:root{
    --black-1: #121317;
    --black-2: #06111C;
    --red: #BB2020;
    --red-hover: #9B0000;
    --yellow: #FFEB4D;
    --light-gray: #BEC7C7;
    --white: #f8f8ff;
}

form{
    margin: 50px auto;
    display: inline-block;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

input{
    background-color:inherit;
    color: var(--white);
    border: 0px;
    border-bottom: 1px solid var(--light-gray);
    outline: 0px;
    font-size: inherit;
    margin-bottom: 20px;
}

textarea{
    background-color:inherit;
    color: var(--white);
    font-size: inherit;
    outline: 0px;
    padding: 3px;
}

.msg-erro{
    color: var(--red);
}

#enviar{
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 5px;
    margin-left: 17.8em;
    cursor: pointer;
}

#enviar:hover{
    filter: brightness(1.12);
}

#enviar:active{ /*Adiciona transformação quando o botão é ativado*/
    transform: scale(0.95); /*Diminue o botão para 95% do tamanho original*/
    filter: brightness(0.78);
}

footer{
    position: fixed;
}
