/*PALETA DE CORES
#BB2020 - vermelho
#06111C - preto 2
#BEC7C7 - cinza claro
#FFEB4D - amarelo
#121317 - preto 1
#f8f8ff - branco*/
:root{
    --black-1: #121317;
    --black-2: #06111C;
    --red: #BB2020;
    --red-hover: #9B0000;
    --yellow: #FFEB4D;
    --light-gray: #BEC7C7;
    --white: #f8f8ff;
}

article{
    margin: 50px 20%;
    display: inline-block;
    font-size: 18px;
}

article p{
    text-align: justify;
}

footer{
    position: fixed;
}
